/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: grey;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  font-family: arial;
}
h1{
  color :black;
}

h2 {
font-family: "Merriweather", serif;
font-size: 30px;
color: black;
}

p{
  font-size: 100;
}
ul li{
  display: inline;
  color: black;
  list-style:none;
}